<?php 
/**------------------------------------------------------
*                         Main Database Class  
*------------------------------------------------------*/
class Database
{
    private $dbhost;
    private $dbuser;
    private $dbpass;
    private $dbname;

    protected $DB;
    public $Id;

//Function For DATABASE CONNECTION
    public function __construct()
    {
      $this->dbhost = "localhost";
      $this->dbuser = "root";
      $this->dbpass = "";
      $this->dbname = "vue";

      $this->DB = new mysqli($this->dbhost, $this->dbuser, $this->dbpass, $this->dbname);
    }

/**------------------------------------------------------
*                        Function For Validation SQL DATA
*------------------------------------------------------*/
    protected function Validation($data){
        /*
        $data = mysqli_real_escape_string($this->DB, $data);
        $data = trim($data);
        $data = strip_tags($data, "<p><b><a>");
        return $data;
        */
        return strip_tags(trim(mysqli_real_escape_string($this->DB, $data)));
    }

/**------------------------------------------------------
*                        Function For INSERT DATA
*------------------------------------------------------*/
    public function Insert($table, $data)
    {
      $sql = "";
      foreach ($data as $key => $value)
      {
        if($sql)
        {
          $sql = $sql . ", ";
        }
        $sql = $sql . "{$key} = '".$this->Validation($value)."'";
      }

      $sql = "INSERT INTO $table SET " . $sql;
      if($this->DB->query($sql))
      {
        $this->Id = $this->DB->insert_id;
        return true;
      }
      return false;
    }

/**------------------------------------------------------
*                        Function For Read DATA
*------------------------------------------------------*/
    public function Read($table, $order)
    {
      $sql = "SELECT * FROM {$table} ORDER BY  {$order[0]} {$order[1]}";
      return $this->DB->query($sql);
    }

/**------------------------------------------------------
*                        Function For View DATA
*------------------------------------------------------*/
    public function View($table, $where)
    {
      $sql = "SELECT * FROM {$table} WHERE  {$where[0]}='".$this->Validation($where[1])."'";
      return $this->DB->query($sql);
    }

/**------------------------------------------------------
*                        Function For INSERT DATA
*------------------------------------------------------*/
    public function Edit($table, $where)
    {
      $sql = "SELECT * FROM {$table} WHERE  {$where[0]} ='".$this->Validation($where[1])."'";
      return $this->DB->query($sql);
    }

/**------------------------------------------------------
*                        Function For UPDATE DATA
*------------------------------------------------------*/
    public function Update($table, $data, $where)
    {
      $sql = "";
      foreach ($data as $key => $value)
      {
        if($sql)
        {
          $sql = $sql . ", ";
        }
        $sql = $sql . "{$key} = '".$this->Validation($value)."'";
      }

      $sql = "UPDATE $table SET " . $sql;
      $sql .= " WHERE {$where[0]} = {$where[1]}";
      if($this->DB->query($sql))
      {
        return true;
      }
      return false;
    }

/**------------------------------------------------------
*                        FUNCTION FOR DELETE DATA
*------------------------------------------------------*/
  public function Delete($table, $where){
    $sql = "delete from $table where {$where[0]} = '".$this->Validation($where[1])."'";
    $this->DB->query($sql);
    if(mysqli_affected_rows($this->DB)){
      return true;
    }
    return false;
  }

}//Class is over here

?>